<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tour Booking</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	 <link href="fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="fonts/css/brands.min.css" rel="stylesheet" />
    <link href="fonts/css/solid.min.css" rel="stylesheet" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/about.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<section id="top" class="bg_black pt-2 pb-2">
 <div class="container-xl">
  <div class="row top_1">
   <div class="col-md-3">
     <div class="top_1l">
	   <span class="d-inline-block col_green fs-1 lh-1 me-1"><i class="fa fa-location-arrow"></i></span>
	   <h6 class="mb-0 text-white d-inline-block fw-bold font_14">Email: <br>
<a class="col_green a_tag1 fs-6" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
	 </div>
   </div>
   <div class="col-md-6">
     <div class="top_1m text-center">
	   <p class="mb-0 text-light">50% Off Your Next Trip. Hurry Up For Your New Tour! <a class="col_green a_tag1" href="#">Book Your Tour</a></p>
	 </div>
   </div>
   <div class="col-md-3">
     <div class="top_1r text-end">
      <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="header">
<nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
  <div class="container-fluid">
    <a class="navbar-brand  p-0 fw-bold" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   <ul class="navbar-nav mb-0 ms-auto nav_1">
	    
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index.html">Home</a>
        </li>
		 
		<li class="nav-item">
          <a class="nav-link active" href="about.html">About </a>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tours
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tour.html"> Tour</a></li>
            <li><a class="dropdown-item border-0" href="detail.html"> Tour Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Destination
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="destination.html"> Destination</a></li>
            <li><a class="dropdown-item border-0" href="destination_detail.html"> Destination Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="blog.html"> Blog</a></li>
            <li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
		    <li><a class="dropdown-item" href="gallery.html"> Gallery</a></li>
			<li><a class="dropdown-item border-0" href="faq.html"> Faq</a></li>
          </ul>
        </li>
			
		<li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-0 ms-auto nav_2">
	    <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-user"></i></a>
        </li>
		    
		<li class="nav-item">
          <a class="nav-link fs-4 drop_icon col_green" href="#"><i class="fa fa-phone"></i></a>
        </li>
		
		<li class="mb-0  d-inline-block fw-bold font_14 nav-item">To More Inquiry<br>
<a class="col_green a_tag1 fs-5" href="#">+(000) 345 67 89</a></li>
      </ul>
    </div>
  </div>
</nav>
</section>

<section id="center" class="center_about">
   <div class="center_om bg_back">
     <div class="container-xl">
  <div class="row center_o1 text-center">
     <div class="col-md-12">
	    <h1 class="text-white font_50">About</h1>
		<h6 class="col_green mb-0 mt-3 fw-bold"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50"><i class="fa fa-arrow-right"></i></span> About</h6>
	 </div>
  </div>
 </div>
   </div>   
 </section>

<section id="about_pg" class="p_3">
 <div class="container-xl">
   <div class="row about_pg1">
    <div class="col-md-6">
	  <div class="about_pg1l">
	    <h5 class="family_1 icon_tag col_green"><i class="fa fa-leaf me-1"></i> About Us <i class="fa fa-leaf ms-1"></i></h5>
		<h1 class="font_50 mt-3">We provide the best tour facilities. </h1>
		<p>Etiam ac tortor id purus commodo vulputate. Vestibulum porttitor erat felis and sed vehicula tortor malesuada gravida. Mauris volutpat enim quis pulv gont congue. Suspendisse ullamcorper.</p>
		<div class="about_pg1li row">
		  <div class="col-md-6 col-sm-6">
		    <div class="about_pg1lil bg_light rounded_1 p-3">
			  <div class="row about_pg1lili">
			   <div class="col-md-3">
			     <div class="about_pg1lilil">
				   <span class="bg-white text-center fs-2 col_green rounded-circle d-inline-block"><i class="fa fa-medkit"></i></span>
				 </div>
			   </div>
			   <div class="col-md-9">
			     <div class="about_pg1lilir">
				   <h5 class="mb-0">Safety First
Always</h5>
				 </div>
			   </div>
			  </div>
			</div>
		  </div>
		  <div class="col-md-6 col-sm-6">
		    <div class="about_pg1lil bg_light1 rounded_1 p-3 about_pg1lilo">
			  <div class="row about_pg1lili">
			   <div class="col-md-3">
			     <div class="about_pg1lilil">
				   <span class="bg-white text-center fs-4 col_green rounded-circle d-inline-block"><i class="fa fa-user-plus"></i></span>
				 </div>
			   </div>
			   <div class="col-md-9">
			     <div class="about_pg1lilir">
				   <h5 class="mb-0">Trusted Travel
Guide</h5>
				 </div>
			   </div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="about_pg1li row mt-4">
		  <div class="col-md-6 col-sm-6">
		    <div class="about_pg1lil bg_light1 rounded_1 p-3 about_pg1lilo">
			  <div class="row about_pg1lili">
			   <div class="col-md-3">
			     <div class="about_pg1lilil">
				   <span class="bg-white text-center fs-2 col_green rounded-circle d-inline-block"><i class="fa fa-calendar"></i></span>
				 </div>
			   </div>
			   <div class="col-md-9">
			     <div class="about_pg1lilir">
				   <h5 class="mb-0">Time And Stress
Savings</h5>
				 </div>
			   </div>
			  </div>
			</div>
		  </div>
		  <div class="col-md-6 col-sm-6">
		    <div class="about_pg1lil bg_light rounded_1 p-3">
			  <div class="row about_pg1lili">
			   <div class="col-md-3">
			     <div class="about_pg1lilil">
				   <span class="bg-white text-center fs-2 col_green rounded-circle d-inline-block"><i class="fa fa-user-graduate"></i></span>
				 </div>
			   </div>
			   <div class="col-md-9">
			     <div class="about_pg1lilir">
				   <h5 class="mb-0">Expertise And
Experience</h5>
				 </div>
			   </div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button" href="#">Find Out More</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Tour</a></h5>
		   </div>
		 </div>
		</div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="about_pg1r position-relative">
	    <div class="about_pg1ri">
		  <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/54.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		</div>
		<div class="about_pg1ri1  position-absolute bottom-0 text-end w-100">
		  <h5 class="mb-0 text-white rounded_1 p-3 bg_green d-inline-block"><span class="fs-1 align-middle">05</span>
Years of experience</h5>
		</div>
	  </div>
	</div>
   </div>
    <div class="row about_pg2 mt-5 pt-4 pb-4">
	  <div class="col-md-3 col-sm-6">
	    <div class="about_pg2i">
		  <div class="about_pg2i1 row">
		     <div class="col-md-3">
			  <div class="about_pg2i1l">
			    <span class="col_green font_50 lh-1"><i class="fa fa-user"></i></span>
			  </div>
			 </div>
			 <div class="col-md-9">
			  <div class="about_pg2i1r">
			    <h3 class="mb-1">0.4k+</h3>
				<h6 class="mb-0">Happy Traveler</h6>
			  </div>
			 </div>
		  </div>
		</div>
	  </div>
	  <div class="col-md-3 col-sm-6">
	    <div class="about_pg2i">
		  <div class="about_pg2i1 row">
		     <div class="col-md-3">
			  <div class="about_pg2i1l">
			    <span class="col_green font_50 lh-1"><i class="fa fa-key"></i></span>
			  </div>
			 </div>
			 <div class="col-md-9">
			  <div class="about_pg2i1r">
			    <h3 class="mb-1">0.6k+</h3>
				<h6 class="mb-0">Tours Success</h6>
			  </div>
			 </div>
		  </div>
		</div>
	  </div>
	  <div class="col-md-3 col-sm-6">
	    <div class="about_pg2i">
		  <div class="about_pg2i1 row">
		     <div class="col-md-3">
			  <div class="about_pg2i1l">
			    <span class="col_green font_50 lh-1"><i class="fa fa-thumbs-up"></i></span>
			  </div>
			 </div>
			 <div class="col-md-9">
			  <div class="about_pg2i1r">
			    <h3 class="mb-1">32%</h3>
				<h6 class="mb-0">Positives Review</h6>
			  </div>
			 </div>
		  </div>
		</div>
	  </div>
	  <div class="col-md-3 col-sm-6">
	    <div class="about_pg2i border-end-0">
		  <div class="about_pg2i1 row">
		     <div class="col-md-3">
			  <div class="about_pg2i1l">
			    <span class="col_green font_50 lh-1"><i class="fa fa-user-graduate"></i></span>
			  </div>
			 </div>
			 <div class="col-md-9">
			  <div class="about_pg2i1r">
			    <h3 class="mb-1">6</h3>
				<h6 class="mb-0">Travel Guide</h6>
			  </div>
			 </div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="row about_pg3 mt-4 text-center">
	  <div class="col-md-12">
	    <p class="mb-0"><span class="fw-bold">Excellent!</span>
<span class="fw-bold ms-2">5.0</span> Rating out of <span class="fw-bold">5.0</span> based on <a href="#"><span class="fw-bold">225353</span> reviews</a> <span class="ms-2 fw-bold"><i class="fa fa-umbrella  col_green"></i> Tripadvisor</span></p>
	  </div>
	</div>
 </div>
</section>

<section id="choose" class="p_3">
 <div class="container-xl">
  <div class="row vacation_1 text-center mb-4">
    <div class="col-md-12">
	  <h5 class="family_1 icon_tag col_green"><i class="fa fa-leaf me-1"></i> Who We Are <i class="fa fa-leaf ms-1"></i></h5>
		<h1 class="font_50 mt-3 mb-0">Why Choose Tour Booking</h1>
	</div>
  </div>
  <div class="row choose_1">
    <div class="col-md-4">
     <div class="choose_1l p-4 px-3 bg_light border_1 rounded_1">
	   <div class="choose_1li row">
	      <div class="col-md-4">
		    <div class="choose_1lil">
			  <span class="d-inline-block bg_light1 text-center rounded-circle text-center"><i class="fa fa-globe"></i></span>
			</div>
		  </div>
		  <div class="col-md-8">
		    <div class="choose_1lir">
			 <h5>Coverage</h5>
			 <p class="mb-0">Cras facilisis fermentum ex seda ullamcorper odio rutrum accoun Phasellus auctor</p>
			</div>
		  </div>
	 </div>
	 </div>
	</div>
	<div class="col-md-4">
     <div class="choose_1l p-4 px-3 bg_light1 border_1 rounded_1">
	   <div class="choose_1li row">
	      <div class="col-md-4">
		    <div class="choose_1lil">
			  <span class="d-inline-block bg_light text-center rounded-circle text-center"><i class="fa fa-dollar"></i></span>
			</div>
		  </div>
		  <div class="col-md-8">
		    <div class="choose_1lir">
			 <h5>Competitive Pricing</h5>
			 <p class="mb-0">Burabitur convallis enim atnora ullamcorper sagittis. Morbi nug scelerisque for thana.</p>
			</div>
		  </div>
	 </div>
	 </div>
	</div>
	<div class="col-md-4">
     <div class="choose_1l p-4 px-3 bg_light border_1 rounded_1">
	   <div class="choose_1li row">
	      <div class="col-md-4">
		    <div class="choose_1lil">
			  <span class="d-inline-block bg_light1 text-center rounded-circle text-center"><i class="fa fa-calendar"></i></span>
			</div>
		  </div>
		  <div class="col-md-8">
		    <div class="choose_1lir">
			 <h5>Fast Booking</h5>
			 <p class="mb-0">"Experience fast and hassle-free booking with our streamlined process. Secure your travel plans in just a few clicks, with instant confirmation. Book your next adventure quickly and easily, all from the comfort of your home."</p>
			</div>
		  </div>
	 </div>
	 </div>
	</div>
  </div>
  <div class="row choose_1 mt-4">
    <div class="col-md-4">
     <div class="choose_1l p-4 px-3 bg_light border_1 rounded_1">
	   <div class="choose_1li row">
	      <div class="col-md-4">
		    <div class="choose_1lil">
			  <span class="d-inline-block bg_light1 text-center rounded-circle text-center"><i class="fa fa-user-plus"></i></span>
			</div>
		  </div>
		  <div class="col-md-8">
		    <div class="choose_1lir">
			 <h5>Guided Tours</h5>
			 <p class="mb-0">Cras facilisis fermentum ex seda ullamcorper odio rutrum accoun Phasellus auctor</p>
			</div>
		  </div>
	 </div>
	 </div>
	</div>
	<div class="col-md-4">
     <div class="choose_1l p-4 px-3 bg_light1 border_1 rounded_1">
	   <div class="choose_1li row">
	      <div class="col-md-4">
		    <div class="choose_1lil">
			  <span class="d-inline-block bg_light text-center rounded-circle text-center"><i class="fa fa-phone"></i></span>
			</div>
		  </div>
		  <div class="col-md-8">
		    <div class="choose_1lir">
			 <h5>Best Support 24/7</h5>
			 <p class="mb-0">Our dedicated support team is available 24/7 to assist you with any questions or concerns. From booking issues to travel inquiries, we provide prompt and reliable assistance at any time. Enjoy peace of mind knowing that expert help is just a call or click away, anytime, day or night.</p>
			</div>
		  </div>
	 </div>
	 </div>
	</div>
	<div class="col-md-4">
     <div class="choose_1l p-4 px-3 bg_light border_1 rounded_1">
	   <div class="choose_1li row">
	      <div class="col-md-4">
		    <div class="choose_1lil">
			  <span class="d-inline-block bg_light1 text-center rounded-circle text-center"><i class="fa fa-recycle"></i></span>
			</div>
		  </div>
		  <div class="col-md-8">
		    <div class="choose_1lir">
			 <h5>Ultimate Flexibility</h5>
			 <p class="mb-0">Fermentum eitorx quis maximum Etiam luctus erat vulputate urnan posuere convallis.</p>
			</div>
		  </div>
	 </div>
	 </div>
	</div>
  </div>
 </div>
</section>

<section id="offer_pg" class="p_3">
 <div class="container-fluid">
   <div class="offer_pg1 row">
    <div class="col-md-12 col-lg-6">
	 <div class="offer_pg1l">
	   <div class="offer_1l position-relative">
	    <div class="offer_1li">
	      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/52.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
	  </div>
	  <div class="offer_1li1 position-absolute p-4 px-3 bottom-0 w-100 text-center">
	      <h5 class="family_1 text-white">Savings worldwide</h5>
		  <h4 class="text-white">Enjoy <span class="col_yellow fs-2">40%</span> Off</h4>
		  <h6 class="text-white">2 Country & 15 Location</h6>
		  <h6 class="mb-0 mt-3"><a class="button_1" href="#">Book Now</a></h6>
	  </div>
	  </div>
	 </div>
	</div>
	<div class="col-md-12 col-lg-6">
	 <div class="offer_pg1r">
	   <div class="profile6i row">
	  <div class="col-md-6">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="img/21.jpg" alt="abc" class="w-100 rounded_1"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 1 WEEK</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> EGYPT</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Discover Serenity, And Enlightenment.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">LOREM PORTA</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">SEA BEACH</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">IPSUM WORLD</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Starting From:<br>
<span class="fw-bold"><span class="fs-4 col_green">$340</span> <span class="text-decoration-line-through text-muted">$450</span></span><br>
<span class="font_12">TAXES INCL/PERS</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-2" href="#">Book Now <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-6">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="img/22.jpg" alt="abc" class="w-100 rounded_1"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 2 DAYS / 3 NIGHT</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> Spain</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Embracing City Lights, Landm, And Iconic Culture.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">LOREM PORTA</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">SEA BEACH</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">IPSUM WORLD</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Starting From:<br>
<span class="fw-bold"><span class="fs-4 col_green">$260</span> <span class="text-decoration-line-through text-muted">$410</span></span><br>
<span class="font_12">TAXES INCL/PERS</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-2" href="#">Book Now <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	</div>
	 </div>
	</div>
   </div>
 </div>
</section>

<section id="explore" class="p_3">
 <div class="container-xl">
  <div class="row vacation_1 text-center mb-4">
    <div class="col-md-12">
	  <h5 class="family_1 icon_tag col_green"><i class="fa fa-leaf me-1"></i> Are you ready to travel? <i class="fa fa-leaf ms-1"></i></h5>
		<h1 class="font_50 mt-3 mb-0">Explore Your Activities</h1>
	</div>
  </div>
<div class="row explore_1">
    <div class="col-md-5">
      <div class="explore_1l">
	    <ul class="nav nav-tabs mb-4 border-0 justify-content-center">
<li class="nav-item d-inline-block">
<a href="#profile14" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
<span class="d-md-block"><i class="fa fa-zap"></i> <br> Zip lining</span>
</a>
</li>

<li class="nav-item d-inline-block">
<a href="#profile15" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
<span class="d-md-block"><i class="fa fa-plane-arrival"></i> <br>Paragliding</span>
</a>
</li>
<li class="nav-item d-inline-block">
<a href="#profile16" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
<span class="d-md-block"><i class="fa fa-jug-detergent"></i> <br> Bungee Jumping</span>
</a>
</li>

<li class="nav-item d-inline-block">
<a href="#profile17" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
<span class="d-md-block"><i class="fa fa-air-freshener"></i> <br> Ski touring</span>
</a>
</li>

<li class="nav-item d-inline-block">
<a href="#profile18" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
<span class="d-md-block"><i class="fa fa-water-ladder"></i> <br> Rafting</span>
</a>
</li>

<li class="nav-item d-inline-block">
<a href="#profile19" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
<span class="d-md-block"><i class="fa fa-swimmer"></i> <br> Surfing</span>
</a>
</li>
</ul>
	  </div>
	</div>
	<div class="col-md-7">
      <div class="explore_1r">
	    <div class="tab-content">
<div class="tab-pane active" id="profile14">
    <div class="explore_1ri row">
	  <div class="col-md-8">
	    <div class="explore_1ril">
		  <h6 class="d-inline-block bg_yellow text-white p-2 px-4 fst-italic"> Zip Lining</h6>
		  <h2 class="mt-3">Thrill Above Ground: The Zip Line Adventure</h2>
		  <p class="mt-3">Embark on an adrenaline-fueled journey, zipping through lush landscapes, feeling the wind rush past, and experiencing nature from breathtaking heights. Unleash your inner adventurer today.</p>
		  <div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Treetop Views</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Adrenaline Rush</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Safety Measures</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Nature Immersion</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button px-3" href="#">Check Availability</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Adventure</a></h5>
		   </div>
		 </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="explore_1rir pt-5">
		  <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/34.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			<div class="grid clearfix mt-4">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/35.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="tab-pane" id="profile15">
    <div class="explore_1ri row">
	  <div class="col-md-8">
	    <div class="explore_1ril">
		  <h6 class="d-inline-block bg_yellow text-white p-2 px-4 fst-italic"> Paragliding</h6>
		  <h2 class="mt-3">Horizon Dance: Unique Paragliding Perspectives.</h2>
		  <p class="mt-3">Embark on an adrenaline-fueled journey, zipping through lush landscapes, feeling the wind rush past, and experiencing nature from breathtaking heights. Unleash your inner adventurer today.</p>
		  <div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Treetop Views</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Adrenaline Rush</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Safety Measures</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Nature Immersion</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button px-3" href="#">Check Availability</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Adventure</a></h5>
		   </div>
		 </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="explore_1rir pt-5">
		  <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/36.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			<div class="grid clearfix mt-4">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/37.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="tab-pane" id="profile16">
    <div class="explore_1ri row">
	  <div class="col-md-8">
	    <div class="explore_1ril">
		  <h6 class="d-inline-block bg_yellow text-white p-2 px-4 fst-italic"> Bungee Jumping</h6>
		  <h2 class="mt-3">Plunge: Bungee Jumping's Gravity-Defying Thrill</h2>
		  <p class="mt-3">Embark on an adrenaline-fueled journey, zipping through lush landscapes, feeling the wind rush past, and experiencing nature from breathtaking heights. Unleash your inner adventurer today.</p>
		  <div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Treetop Views</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Adrenaline Rush</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Safety Measures</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Nature Immersion</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button px-3" href="#">Check Availability</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Adventure</a></h5>
		   </div>
		 </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="explore_1rir pt-5">
		  <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/38.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			<div class="grid clearfix mt-4">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/39.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="tab-pane" id="profile17">
    <div class="explore_1ri row">
	  <div class="col-md-8">
	    <div class="explore_1ril">
		  <h6 class="d-inline-block bg_yellow text-white p-2 px-4 fst-italic"> Ski touring</h6>
		  <h2 class="mt-3">Powder Quest: Exploring Snow-Covered  on Skis</h2>
		  <p class="mt-3">Embark on an adrenaline-fueled journey, zipping through lush landscapes, feeling the wind rush past, and experiencing nature from breathtaking heights. Unleash your inner adventurer today.</p>
		  <div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Treetop Views</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Adrenaline Rush</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Safety Measures</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Nature Immersion</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button px-3" href="#">Check Availability</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Adventure</a></h5>
		   </div>
		 </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="explore_1rir pt-5">
		  <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/34.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			<div class="grid clearfix mt-4">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/35.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="tab-pane" id="profile18">
    <div class="explore_1ri row">
	  <div class="col-md-8">
	    <div class="explore_1ril">
		  <h6 class="d-inline-block bg_yellow text-white p-2 px-4 fst-italic"> Rafting</h6>
		  <h2 class="mt-3">Whitewater Rush: Thrilling Rafting Adventure</h2>
		  <p class="mt-3">Embark on an adrenaline-fueled journey, zipping through lush landscapes, feeling the wind rush past, and experiencing nature from breathtaking heights. Unleash your inner adventurer today.</p>
		  <div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Treetop Views</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Adrenaline Rush</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Safety Measures</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Nature Immersion</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button px-3" href="#">Check Availability</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Adventure</a></h5>
		   </div>
		 </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="explore_1rir pt-5">
		  <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/36.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			<div class="grid clearfix mt-4">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/37.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="tab-pane" id="profile19">
    <div class="explore_1ri row">
	  <div class="col-md-8">
	    <div class="explore_1ril">
		  <h6 class="d-inline-block bg_yellow text-white p-2 px-4 fst-italic"> Surfing</h6>
		  <h2 class="mt-3">Ocean Rush: The Thrill of Riding Majestic Surf Waves.</h2>
		  <p class="mt-3">Embark on an adrenaline-fueled journey, zipping through lush landscapes, feeling the wind rush past, and experiencing nature from breathtaking heights. Unleash your inner adventurer today.</p>
		  <div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Treetop Views</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Adrenaline Rush</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="faci_1li row mt-3">
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
			     <li><i class="fa fa-circle col_green font_10 me-1"></i> Safety Measures</li>
			  </ul>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="faci_1lil">
		      <ul class="mb-0 fw-bold">
		 <li><i class="fa fa-circle col_green font_10 me-1"></i> Nature Immersion</li>
			  </ul>
		   </div>
		 </div>
		</div>
		<div class="explore_1rili row mt-4">
		 <div class="col-md-6">
		   <div class="explore_1rilil">
		        <h6 class="mb-0"><a class="button px-3" href="#">Check Availability</a></h6>
		   </div>
		 </div>
		 <div class="col-md-6">
		   <div class="explore_1rilir">
		     <h5 class="mb-0 fs-6"><a href="#"><i class="fa fa-play-circle font_50 me-1 align-middle col_yellow"></i> Watch Adventure</a></h5>
		   </div>
		 </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="explore_1rir pt-5">
		  <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/38.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			<div class="grid clearfix mt-4">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/39.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
		</div>
	  </div>
	</div>
</div>
</div>
	  </div>
	</div>
  </div>
 </div>
</section>
<section id="team" class="p_3">
 <div class="container-xl">
  <div class="row vacation_1 text-center mb-4">
    <div class="col-md-12">
	  <h5 class="family_1 icon_tag col_green"><i class="fa fa-leaf me-1"></i> Tour Guide <i class="fa fa-leaf ms-1"></i></h5>
		<h1 class="font_50 mt-3 mb-0">Our Travel Guide</h1>
	</div>
  </div>
<div class="row team_1">
    <div class="col-md-3 col-sm-6">
      <div class="team_1l border_1">
	    <div class="team_1l1 position-relative">
	       <div class="team_1l1i p-4 bg_light1">
	        <img src="img/55.jpg"  alt="abc" class="w-100 rounded-circle">
	      </div>
	       <div class="team_1l1i1 position-absolute top-0">
	         <img src="img/55.jpg" class="w-100" alt="abc">
	  </div>
	       <div class="team_1l1i2 bg_back pt-4 pb-4 px-3 position-absolute top-0">
	          <ul class="mb-0">
			    <li><a class="text-white a_tag1" href="#"><i class="fa-brands fa-facebook"></i></a></li>
				 <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-twitter"></i></a></li>
				  <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-instagram"></i></a></li>
				   <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
			  </ul>
	  </div>
	  </div>
	    <div class="team_1l2  p-3 text-center">
	      <h4>Lorem Porta</h4>
			  <h6 class="mb-0">Tour Guide</h6>
	  </div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
      <div class="team_1l border_1">
	    <div class="team_1l1 position-relative">
	       <div class="team_1l1i p-4 bg_light1">
	        <img src="img/56.jpg"  alt="abc" class="w-100 rounded-circle">
	      </div>
	       <div class="team_1l1i1 position-absolute top-0">
	         <img src="img/56.jpg" class="w-100" alt="abc">
	  </div>
	       <div class="team_1l1i2 bg_back pt-4 pb-4 px-3 position-absolute top-0">
	          <ul class="mb-0">
			    <li><a class="text-white a_tag1" href="#"><i class="fa-brands fa-facebook"></i></a></li>
				 <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-twitter"></i></a></li>
				  <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-instagram"></i></a></li>
				   <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
			  </ul>
	  </div>
	  </div>
	    <div class="team_1l2  p-3 text-center">
	      <h4>Nulla Quis</h4>
			  <h6 class="mb-0">Tour Guide</h6>
	  </div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
      <div class="team_1l border_1">
	    <div class="team_1l1 position-relative">
	       <div class="team_1l1i p-4 bg_light1">
	        <img src="img/57.jpg"  alt="abc" class="w-100 rounded-circle">
	      </div>
	       <div class="team_1l1i1 position-absolute top-0">
	         <img src="img/57.jpg" class="w-100" alt="abc">
	  </div>
	       <div class="team_1l1i2 bg_back pt-4 pb-4 px-3 position-absolute top-0">
	          <ul class="mb-0">
			    <li><a class="text-white a_tag1" href="#"><i class="fa-brands fa-facebook"></i></a></li>
				 <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-twitter"></i></a></li>
				  <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-instagram"></i></a></li>
				   <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
			  </ul>
	  </div>
	  </div>
	    <div class="team_1l2  p-3 text-center">
	      <h4>Ipsum Sem</h4>
			  <h6 class="mb-0">Tour Guide</h6>
	  </div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
      <div class="team_1l border_1">
	    <div class="team_1l1 position-relative">
	       <div class="team_1l1i p-4 bg_light1">
	        <img src="img/58.jpg"  alt="abc" class="w-100 rounded-circle">
	      </div>
	       <div class="team_1l1i1 position-absolute top-0">
	         <img src="img/58.jpg" class="w-100" alt="abc">
	  </div>
	       <div class="team_1l1i2 bg_back pt-4 pb-4 px-3 position-absolute top-0">
	          <ul class="mb-0">
			    <li><a class="text-white a_tag1" href="#"><i class="fa-brands fa-facebook"></i></a></li>
				 <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-twitter"></i></a></li>
				  <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-instagram"></i></a></li>
				   <li class="mt-3"><a class="text-white a_tag1" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
			  </ul>
	  </div>
	  </div>
	    <div class="team_1l2  p-3 text-center">
	      <h4>Eget Dolor</h4>
			  <h6 class="mb-0">Tour Guide</h6>
	  </div>
	  </div>
	</div>
  </div>
 </div>
</section>

<section id="artic" class="p_3">
 <div class="container-fluid">
  <div class="row vacation_1 text-center mb-4">
    <div class="col-md-12">
	  <h5 class="family_1 icon_tag col_green"><i class="fa fa-leaf me-1"></i> Article <i class="fa fa-leaf ms-1"></i></h5>
		<h1 class="font_50 mt-3 mb-0">Travel Article Enthusiast</h1>
	</div>
  </div>
<div class="row artic_1">
    <div class="col-md-6">
	  <div class="artic_1l position-relative">
	    <div class="artic_1l1">
		  <div class="blog_h1lil position-relative">
		     <div class="blog_h1lili">
			   <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/2.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			 </div>
			 <div class="blog_h1lili1 position-absolute top-0 p-2">
			     <h5 class="mb-0 d-inline-block bg_back rounded-circle text-center text-white">7 <br> <span class="fw-normal fs-6">Feb</span></h5>
			 </div>
		   </div>
		</div>
		<div class="artic_1l2 shadow_box p-4 rounded_1 position-absolute bg-white">
		  <div class="blog_h1lir">
		     <div class="blog_h1li1">
	      <ul class="font_14 fw-bold">
		    <li class="d-inline-block"><a class="text-muted a_tag" href="#">By Lorem</a></li>
			<li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-muted a_tag" href="#">Adventure Safari</a></li>
		  </ul>
		  <h5><a href="#">Wine Country Escapes: Vineyard Tours For Connoisseurs</a></h5>
		  <div class="blog_h1li1i row mt-3">
		    <div class="col-md-4">
			  <div class="blog_h1li1il">
			    <h6 class="mb-0 fw-bold"><a class="a_tag1 col_green" href="#">View Post <i class="fa fa-arrow-circle-right ms-1 align-middle"></i></a></h6>
			  </div>
			</div>
			<div class="col-md-8">
			  <div class="blog_h1li1ir text-end">
			     <h6 class="mb-0 font_14 text-muted"><i class="fa fa-fire col_green me-1 align-middle"></i> 1 Min Read</h6>
			  </div>
			</div>
		  </div>
	  </div>
		   </div>
		</div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="artic_1l position-relative">
	    <div class="artic_1l1">
		  <div class="blog_h1lil position-relative">
		     <div class="blog_h1lili">
			   <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/3.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
			 </div>
			 <div class="blog_h1lili1 position-absolute top-0 p-2">
			     <h5 class="mb-0 d-inline-block bg_back rounded-circle text-center text-white">9 <br> <span class="fw-normal fs-6">Feb</span></h5>
			 </div>
		   </div>
		</div>
		<div class="artic_1l2 shadow_box p-4 rounded_1 position-absolute bg-white">
		  <div class="blog_h1lir">
		     <div class="blog_h1li1">
	      <ul class="font_14 fw-bold">
		    <li class="d-inline-block"><a class="text-muted a_tag" href="#">By Porta</a></li>
			<li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-muted a_tag" href="#">Adventure Safari</a></li>
		  </ul>
		  <h5><a href="#">Thrills & Chills: Extreme Sports Tours For Adrenaline Junkies</a></h5>
		  <div class="blog_h1li1i row mt-3">
		    <div class="col-md-4">
			  <div class="blog_h1li1il">
			    <h6 class="mb-0 fw-bold"><a class="a_tag1 col_green" href="#">View Post <i class="fa fa-arrow-circle-right ms-1 align-middle"></i></a></h6>
			  </div>
			</div>
			<div class="col-md-8">
			  <div class="blog_h1li1ir text-end">
			     <h6 class="mb-0 font_14 text-muted"><i class="fa fa-fire col_green me-1 align-middle"></i> 3 Min Read</h6>
			  </div>
			</div>
		  </div>
	  </div>
		   </div>
		</div>
	  </div>
	</div>
  </div>
 </div>
</section>

<div class="main_footer position-relative">
  <div class="main_footer1 position-absolute w-100">
    <section id="join" class="p_3">
 <div class="container-xl">
  <div class="row join_1 shadow_box pt-5 pb-5 mx-0 bg-white">
    <div class="col-md-3">
      <div class="join_1l">
	   <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
	<div class="col-md-6">
      <div class="join_1m text-center">
	     <h1>Join The Newsletter</h1>
		 <p>To receive our best monthly deals</p>
		 <div class="input-group">
				<input type="text" class="form-control rounded-0 font_14" placeholder="Enter Your Email...">
				<span class="input-group-btn">
					<button class="btn btn-primary bg_green rounded-0 p-3 px-4  border-0" type="button">
						<i class="fa fa-arrow-right"></i> </button>
				</span>
		</div>
	  </div>
	</div>
	<div class="col-md-3">
      <div class="join_1l">
	    <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
  <div class="main_footer2">
    <section id="footer" class="p_3 bg_black">
 <div class="container-xl">
  <div class="row footer_1">
    <div class="col-md-3">
	  <div class="footer_1l">
	    <h3 class="mb-3"><a class="text-white" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a></h3>
		<h2 class="text-light">Want To Take Tour Packages?</h2>
		<h6 class="mb-0 mt-4"><a class="button" href="#">Book A Tour</a></h6>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3">Quick Link</h5>
		<div class="row footer_3ism">
		 <h6 class="col-md-12 col-6"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> About Us</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Destinations</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Tour Package</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Article</a></h6>
	 <h6 class="col-md-12 col-6 mt-2 mb-0"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
	    </div>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3"><i class="fa fa-phone col_yellow me-1"></i> More Inquiry</h5>
		<h6><a class="text-white-50 a_tag1" href="tel:09256743514">+99 9 256743514</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-location-arrow col_yellow me-1"></i> Send Mail</h5>
		<h6><a class="text-white-50 a_tag1" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-map-marker col_yellow me-1"></i> Address</h5>
		<p class="mb-0"><a class="text-white-50 a_tag1" href="#">House 128/140, Road 01, Pyay</a></p>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l top_1r ">
	    <h5 class="text-white mt-1 mb-3"> We Are Here</h5>
		 <p class="text-white-50">Quisque purus augue, facilisis andi neque idont accumsan fringilla massa. Vivamusol id nibhom condimentum.</p>
		 <h5 class="text-white mt-4 mb-3"> Social Partner</h5>
         <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	  </div>
	</div>
  </div><hr class="line_1">
  <div class="row footer_2">
    <div class="col-md-8">
	  <div class="footer_2l">
	    <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_green fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	</div>
<div class="col-md-4">
	  <div class="footer_2r text-end">
	    <ul class="mb-0">
		    <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Privacy Policy</a></li>
			<li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#">Terms & Condition</a></li>
		  </ul>
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
</div>

<script src="js/common.js"></script>

</body>


</html>