<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tour Booking</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	 <link href="fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="fonts/css/brands.min.css" rel="stylesheet" />
    <link href="fonts/css/solid.min.css" rel="stylesheet" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/destination.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<section id="top" class="bg_black pt-2 pb-2">
 <div class="container-xl">
  <div class="row top_1">
   <div class="col-md-3">
     <div class="top_1l">
	   <span class="d-inline-block col_green fs-1 lh-1 me-1"><i class="fa fa-location-arrow"></i></span>
	   <h6 class="mb-0 text-white d-inline-block fw-bold font_14">Email: <br>
<a class="col_green a_tag1 fs-6" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
	 </div>
   </div>
   <div class="col-md-6">
     <div class="top_1m text-center">
	   <p class="mb-0 text-light">50% Off Your Next Trip. Hurry Up For Your New Tour! <a class="col_green a_tag1" href="#">Book Your Tour</a></p>
	 </div>
   </div>
   <div class="col-md-3">
     <div class="top_1r text-end">
      <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="header">
<nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
  <div class="container-fluid">
    <a class="navbar-brand  p-0 fw-bold" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   <ul class="navbar-nav mb-0 ms-auto nav_1">
	    
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index.html">Home</a>
        </li>
		 
		<li class="nav-item">
          <a class="nav-link" href="about.html">About </a>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tours
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tour.html"> Tour</a></li>
            <li><a class="dropdown-item border-0" href="detail.html"> Tour Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Destination
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="destination.html"> Destination</a></li>
            <li><a class="dropdown-item border-0" href="destination_detail.html"> Destination Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="blog.html"> Blog</a></li>
            <li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
		    <li><a class="dropdown-item" href="gallery.html"> Gallery</a></li>
			<li><a class="dropdown-item border-0" href="faq.html"> Faq</a></li>
          </ul>
        </li>
			
		<li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-0 ms-auto nav_2">
	    <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-user"></i></a>
        </li>
		    
		<li class="nav-item">
          <a class="nav-link fs-4 drop_icon col_green" href="#"><i class="fa fa-phone"></i></a>
        </li>
		
		<li class="mb-0  d-inline-block fw-bold font_14 nav-item">To More Inquiry<br>
<a class="col_green a_tag1 fs-5" href="#">+(000) 345 67 89</a></li>
      </ul>
    </div>
  </div>
</nav>
</section>

<section id="center" class="center_dest_dt">
   <div class="center_om bg_back">
     <div class="container-xl">
  <div class="row center_o1 text-center">
     <div class="col-md-12">
	    <h1 class="text-white font_50">Destination Detail</h1>
		<h6 class="col_green mb-0 mt-3 fw-bold"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50"><i class="fa fa-arrow-right"></i></span> Destination Detail</h6>
	 </div>
  </div>
 </div>
   </div>   
 </section>

<section id="dest_dt" class="p_3">
 <div class="container-xl">
   <div class="dest_dt1 row">
     <div class="col-md-8">
	   <div class="dest_dt1l">
	     <div class="dest_dt1l1">
		   <h1>Welcome To Brazil</h1>
		   <p class="mt-3">Egypt has one of the longest histories of any country, tracing its heritage along the Nile Delta back to the 6th–4th millennia BCE. Considered a cradle of civilisation, Ancient Egypt saw some of the earliest developments of writing, agriculture, urbanisation, organised religion and central government.[15] Egypt’s long and rich cultural heritage is an integral part of its national identity, which reflects its unique transcontinental location being simultaneously Mediterranean, Middle Eastern and North African.[16] Egypt was an early and important centre of Christianity, but was largely Islamised in the seventh century. Modern Egypt dates back to 1922, when it gained independence from the British Empire as a monarchy. Following the 1952 revolution, Egypt declared itself a republic, and in 1958 it merged with Syria to form the United Arab Republic, which dissolved in 1961.</p>
		   <div class="dest_dt1l1i row">
		     <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/59.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/60.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/61.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
		   </div>
		   <div class="dest_dt1l1i row mt-2">
		     <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/62.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/12.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
		   </div>
		   <h1 class="mt-4">Heaven On Earth</h1>
		   <p class="mt-3">Egypt has one of the longest histories of any country, tracing its heritage along the Nile Delta back to the 6th–4th millennia BCE. Considered a cradle of civilisation, Ancient Egypt saw some of the earliest developments of writing, agriculture, urbanisation, organised religion and central government.[15] Egypt’s long and rich cultural heritage is an integral part of its national</p>
		 </div>
		 <div class="dest_dt1l2">
		   <div class="dest_dt1l2i row">
		    <div class="col-md-6">
			  <div class="dest_dt1l2il">
			    <ul class="mb-0 flex_box fw-bold">
<li class="d-flex"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Exploring ancient ruins, historical landmar.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Immersive cultural experiences, local.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Hiking, trekking, extreme sports, and out.</li>
</ul>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="dest_dt1l2il">
			    <ul class="mb-0 flex_box fw-bold">
<li class="d-flex"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> A romantic destination like Paris, Venice.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Kid-friendly activities, theme parks family.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Premium accommodations, gourmet.</li>
</ul>
			  </div>
			</div>
		 </div>
		   <div class="dest_dt1l1i row mt-4">
		     <div class="col-md-6 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/19.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-6 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/20.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
		   </div>
		 </div>
	   </div>
	 </div>
	 <div class="col-md-4">
	   <div class="dest_dt1r">
	      <div class="dest_dt1r1 border_1 p-4 rounded_1">
	       <h6><i class="fa fa-dot-circle me-1 col_green align-middle"></i> Destination</h6>
		   <h4 class="mb-0 mt-3">Brazil</h4><hr>
		   <h6><i class="fa fa-dot-circle me-1 col_green align-middle"></i> Population</h6>
		   <h4 class="mb-0 mt-3">90.2 million</h4><hr>
		     <h6><i class="fa fa-dot-circle me-1 col_green align-middle"></i> Capital City</h6>
		   <h4 class="mb-0 mt-3">Semper</h4><hr>
		     <h6><i class="fa fa-dot-circle me-1 col_green align-middle"></i> Language</h6>
		   <h4 class="mb-0 mt-3">Egyptian Arabic</h4><hr>
		     <h6><i class="fa fa-dot-circle me-1 col_green align-middle"></i> Currency</h6>
		   <h4 class="mb-0 mt-3">Egyptian pound</h4>
	   </div>
	   <div class="tour_1l1 p-4 rounded_1 border_1 mt-4">
        <div class="offer_1l position-relative">
	    <div class="offer_1li">
	      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/41.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
	  </div>
	  <div class="offer_1li1 position-absolute p-4 px-3 bottom-0 w-100 text-center">
	      <h5 class="family_1 text-white">Honeymoon Tour</h5>
		  <h4 class="text-white">Enjoy <span class="col_yellow fs-2">40%</span> Off</h4>
		  <h6 class="text-white">2 Country &amp; 15 Location</h6>
		  <h6 class="mb-0 mt-3"><a class="button_1" href="#">View All Package</a></h6>
	  </div>
	  </div>
	 </div>
	   </div>
	 </div>
   </div>
   <div class="dest_dt2 row mt-4">
    <div class="col-md-12">
	  <h2>Location</h2>
	</div>
   </div>
   <div class="tour_dt1 row p-2 mx-0 shadow_box rounded_1 px-0 mt-3">
     <div class="col-md-6">
	   <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li  tour_dt1lm">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="img/45.jpg"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-eye"></i></a></span>
		 </div>
	   </div>
	 </div>
	 <div class="col-md-6">
	   <div class="tour_dt1r">
	      <div class="tour_dt1ri row">
		    <div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="img/46.jpg"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-eye"></i></a></span>
		 </div>
	   </div>
			</div>
			<div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="img/47.jpg"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-eye"></i></a></span>
		 </div>
	   </div>
			</div>
		  </div>
		  <div class="tour_dt1ri1 row mt-2">
		    <div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="img/48.jpg"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-plus"></i></a></span>
		  <h6 class="mb-0"><a class="text-white a_tag1" href="#">View More Images</a></h6>
		 </div>
	   </div>
			</div>
			<div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="img/49.jpg"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-2"><a class="col_yellow" href="#"><i class="fa fa-play-circle"></i></a></span>
		  <h6 class="mb-0"><a class="text-white a_tag1" href="#">Watch Video</a></h6>
		 </div>
	   </div>
			</div>
		  </div>
	   </div>
	 </div>
   </div>
   <div class="dest_dt2 row mt-4">
    <div class="col-md-12">
	  <h1>Recommended Package</h1>
	</div>
   </div>
   <div class="profile6i row mt-3">
	  <div class="col-md-4">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="img/17.jpg" alt="abc" class="w-100 rounded_1"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 1 WEEK</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> EGYPT</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Discover Serenity, Exploration, And Enlightenment.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">LOREM PORTA</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">SEA BEACH</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">IPSUM WORLD</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Starting From:<br>
<span class="fw-bold"><span class="fs-4 col_green">$340</span> <span class="text-decoration-line-through text-muted">$450</span></span><br>
<span class="font_12">TAXES INCL/PERS</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-3" href="#">Book A Trip <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="img/18.jpg" alt="abc" class="w-100 rounded_1"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 2 DAYS / 3 NIGHT</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> Spain</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Embracing City Lights, Landm, And Iconic Culture.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">LOREM PORTA</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">SEA BEACH</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">IPSUM WORLD</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Starting From:<br>
<span class="fw-bold"><span class="fs-4 col_green">$260</span> <span class="text-decoration-line-through text-muted">$410</span></span><br>
<span class="font_12">TAXES INCL/PERS</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-3" href="#">Book A Trip <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="img/19.jpg" alt="abc" class="w-100 rounded_1"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 3 DAYS / 4 NIGHT</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> LONDON</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Immersive Cultural Expirees, Local Cuisine.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">LOREM PORTA</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">SEA BEACH</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">IPSUM WORLD</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Starting From:<br>
<span class="fw-bold"><span class="fs-4 col_green">$430</span> <span class="text-decoration-line-through text-muted">$620</span></span><br>
<span class="font_12">TAXES INCL/PERS</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-3" href="#">Book A Trip <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	</div>
 </div>
</section>

<div class="main_footer position-relative">
  <div class="main_footer1 position-absolute w-100">
    <section id="join" class="p_3">
 <div class="container-xl">
  <div class="row join_1 shadow_box pt-5 pb-5 mx-0 bg-white">
    <div class="col-md-3">
      <div class="join_1l">
	   <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
	<div class="col-md-6">
      <div class="join_1m text-center">
	     <h1>Join The Newsletter</h1>
		 <p>To receive our best monthly deals</p>
		 <div class="input-group">
				<input type="text" class="form-control rounded-0 font_14" placeholder="Enter Your Email...">
				<span class="input-group-btn">
					<button class="btn btn-primary bg_green rounded-0 p-3 px-4  border-0" type="button">
						<i class="fa fa-arrow-right"></i> </button>
				</span>
		</div>
	  </div>
	</div>
	<div class="col-md-3">
      <div class="join_1l">
	    <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
  <div class="main_footer2">
    <section id="footer" class="p_3 bg_black">
 <div class="container-xl">
  <div class="row footer_1">
    <div class="col-md-3">
	  <div class="footer_1l">
	    <h3 class="mb-3"><a class="text-white" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a></h3>
		<h2 class="text-light">Want To Take Tour Packages?</h2>
		<h6 class="mb-0 mt-4"><a class="button" href="#">Book A Tour</a></h6>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3">Quick Link</h5>
		<div class="row footer_3ism">
		 <h6 class="col-md-12 col-6"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> About Us</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Destinations</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Tour Package</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Article</a></h6>
	 <h6 class="col-md-12 col-6 mt-2 mb-0"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
	    </div>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3"><i class="fa fa-phone col_yellow me-1"></i> More Inquiry</h5>
		<h6><a class="text-white-50 a_tag1" href="tel:09256743514">+99 9 256743514</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-location-arrow col_yellow me-1"></i> Send Mail</h5>
		<h6><a class="text-white-50 a_tag1" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-map-marker col_yellow me-1"></i> Address</h5>
		<p class="mb-0"><a class="text-white-50 a_tag1" href="#">House 128/140, Road 01, Pyay</a></p>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l top_1r ">
	    <h5 class="text-white mt-1 mb-3"> We Are Here</h5>
		 <p class="text-white-50">Quisque purus augue, facilisis andi neque idont accumsan fringilla massa. Vivamusol id nibhom condimentum.</p>
		 <h5 class="text-white mt-4 mb-3"> Social Partner</h5>
         <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	  </div>
	</div>
  </div><hr class="line_1">
  <div class="row footer_2">
    <div class="col-md-8">
	  <div class="footer_2l">
	    <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_green fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	</div>
<div class="col-md-4">
	  <div class="footer_2r text-end">
	    <ul class="mb-0">
		    <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Privacy Policy</a></li>
			<li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#">Terms & Condition</a></li>
		  </ul>
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
</div>

<script src="js/common.js"></script>

</body>


</html>