<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tour Booking</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	 <link href="fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="fonts/css/brands.min.css" rel="stylesheet" />
    <link href="fonts/css/solid.min.css" rel="stylesheet" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/destination.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<section id="top" class="bg_black pt-2 pb-2">
 <div class="container-xl">
  <div class="row top_1">
   <div class="col-md-3">
     <div class="top_1l">
	   <span class="d-inline-block col_green fs-1 lh-1 me-1"><i class="fa fa-location-arrow"></i></span>
	   <h6 class="mb-0 text-white d-inline-block fw-bold font_14">Email: <br>
<a class="col_green a_tag1 fs-6" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
	 </div>
   </div>
   <div class="col-md-6">
     <div class="top_1m text-center">
	   <p class="mb-0 text-light">50% Off Your Next Trip. Hurry Up For Your New Tour! <a class="col_green a_tag1" href="#">Book Your Tour</a></p>
	 </div>
   </div>
   <div class="col-md-3">
     <div class="top_1r text-end">
      <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="header">
<nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
  <div class="container-fluid">
    <a class="navbar-brand  p-0 fw-bold" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   <ul class="navbar-nav mb-0 ms-auto nav_1">
	    
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index.html">Home</a>
        </li>
		 
		<li class="nav-item">
          <a class="nav-link" href="about.html">About </a>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tours
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tour.html"> Tour</a></li>
            <li><a class="dropdown-item border-0" href="detail.html"> Tour Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Destination
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="destination.html"> Destination</a></li>
            <li><a class="dropdown-item border-0" href="destination_detail.html"> Destination Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="blog.html"> Blog</a></li>
            <li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
		    <li><a class="dropdown-item" href="gallery.html"> Gallery</a></li>
			<li><a class="dropdown-item border-0" href="faq.html"> Faq</a></li>
          </ul>
        </li>
			
		<li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-0 ms-auto nav_2">
	    <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-user"></i></a>
        </li>
		    
		<li class="nav-item">
          <a class="nav-link fs-4 drop_icon col_green" href="#"><i class="fa fa-phone"></i></a>
        </li>
		
		<li class="mb-0  d-inline-block fw-bold font_14 nav-item">To More Inquiry<br>
<a class="col_green a_tag1 fs-5" href="#">+(000) 345 67 89</a></li>
      </ul>
    </div>
  </div>
</nav>
</section>

<section id="center" class="center_dest">
   <div class="center_om bg_back">
     <div class="container-xl">
  <div class="row center_o1 text-center">
     <div class="col-md-12">
	    <h1 class="text-white font_50">Destination</h1>
		<h6 class="col_green mb-0 mt-3 fw-bold"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50"><i class="fa fa-arrow-right"></i></span> Destination</h6>
	 </div>
  </div>
 </div>
   </div>   
 </section>

<section id="desti" class="p_3">
 <div class="container-xl">
    <div class="row vacation_2">
    <div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/59.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">Brazil</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">Brazil</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 4 Tour</h6>
		</div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/60.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">New York</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">New York</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 3 Tour</h6>
		</div>
	  </div>
	</div>
<div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/61.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">Spain</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">Spain</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 2 Tour</h6>
		</div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/62.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">Italy</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">Italy</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 5 Tour</h6>
		</div>
	  </div>
	</div>
  </div>
    <div class="row vacation_2 mt-4">
    <div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/11.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">Sweden</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">Sweden</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 4 Tour</h6>
		</div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/12.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">Japan</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">Japan</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 3 Tour</h6>
		</div>
	  </div>
	</div>
<div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/15.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">India</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">India</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 2 Tour</h6>
		</div>
	  </div>
	</div>
	<div class="col-md-3 col-sm-6">
	  <div class="vacation_2i position-relative">
	    <div class="vacation_2i1">
		  <img src="img/16.jpg" alt="abc" class="rounded_1 w-100">
		</div>
		<div class="vacation_2i2 text-center position-absolute bottom-0 w-100 h-100  px-3 bg_back">
		  <h3 class="mb-0 text-white">London</h3>
		</div>
		<div class="vacation_2i3 text-center position-absolute top-0 w-100 h-100 bg_back  px-3">
		   <h3 class="mb-0"><a class="text-white a_tag1" href="destination_detail.html">London</a></h3>
		   <hr class="line mx-auto">
		   <h6 class="d-inline-block bg_green text-white p-2 px-4"> 5 Tour</h6>
		</div>
	  </div>
	</div>
  </div>
    <div class="pages  text-center mt-4 row">
		      <div class="col-md-12">
			    <ul class="mb-0">
			<li><a href="destination_detail.html"><i class="fa fa-chevron-left"></i></a></li>
			<li><a class="act" href="destination_detail.html">1</a></li>
			<li><a href="destination_detail.html">2</a></li>
			<li><a href="destination_detail.html">3</a></li>
			<li><a href="destination_detail.html">4</a></li>
			<li><a href="destination_detail.html">5</a></li>
			<li><a href="destination_detail.html">6</a></li>
			<li><a href="destination_detail.html"><i class="fa fa-chevron-right"></i></a></li>
		   </ul>
			  </div>
	       </div>
 </div>
</section>

<div class="main_footer position-relative">
  <div class="main_footer1 position-absolute w-100">
    <section id="join" class="p_3">
 <div class="container-xl">
  <div class="row join_1 shadow_box pt-5 pb-5 mx-0 bg-white">
    <div class="col-md-3">
      <div class="join_1l">
	   <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
	<div class="col-md-6">
      <div class="join_1m text-center">
	     <h1>Join The Newsletter</h1>
		 <p>To receive our best monthly deals</p>
		 <div class="input-group">
				<input type="text" class="form-control rounded-0 font_14" placeholder="Enter Your Email...">
				<span class="input-group-btn">
					<button class="btn btn-primary bg_green rounded-0 p-3 px-4  border-0" type="button">
						<i class="fa fa-arrow-right"></i> </button>
				</span>
		</div>
	  </div>
	</div>
	<div class="col-md-3">
      <div class="join_1l">
	    <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
  <div class="main_footer2">
    <section id="footer" class="p_3 bg_black">
 <div class="container-xl">
  <div class="row footer_1">
    <div class="col-md-3">
	  <div class="footer_1l">
	    <h3 class="mb-3"><a class="text-white" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a></h3>
		<h2 class="text-light">Want To Take Tour Packages?</h2>
		<h6 class="mb-0 mt-4"><a class="button" href="#">Book A Tour</a></h6>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3">Quick Link</h5>
		<div class="row footer_3ism">
		 <h6 class="col-md-12 col-6"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> About Us</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Destinations</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Tour Package</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Article</a></h6>
	 <h6 class="col-md-12 col-6 mt-2 mb-0"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
	    </div>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3"><i class="fa fa-phone col_yellow me-1"></i> More Inquiry</h5>
		<h6><a class="text-white-50 a_tag1" href="tel:09256743514">+99 9 256743514</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-location-arrow col_yellow me-1"></i> Send Mail</h5>
		<h6><a class="text-white-50 a_tag1" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-map-marker col_yellow me-1"></i> Address</h5>
		<p class="mb-0"><a class="text-white-50 a_tag1" href="#">House 128/140, Road 01, Pyay</a></p>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l top_1r ">
	    <h5 class="text-white mt-1 mb-3"> We Are Here</h5>
		 <p class="text-white-50">Quisque purus augue, facilisis andi neque idont accumsan fringilla massa. Vivamusol id nibhom condimentum.</p>
		 <h5 class="text-white mt-4 mb-3"> Social Partner</h5>
         <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	  </div>
	</div>
  </div><hr class="line_1">
  <div class="row footer_2">
    <div class="col-md-8">
	  <div class="footer_2l">
	    <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_green fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	</div>
<div class="col-md-4">
	  <div class="footer_2r text-end">
	    <ul class="mb-0">
		    <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Privacy Policy</a></li>
			<li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#">Terms & Condition</a></li>
		  </ul>
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
</div>

<script src="js/common.js"></script>

</body>


</html>