<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tour Booking</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	 <link href="fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="fonts/css/brands.min.css" rel="stylesheet" />
    <link href="fonts/css/solid.min.css" rel="stylesheet" />
	<link href="css/global.css" rel="stylesheet">
	<link href="css/tour.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<section id="top" class="bg_black pt-2 pb-2">
 <div class="container-xl">
  <div class="row top_1">
   <div class="col-md-3">
     <div class="top_1l">
	   <span class="d-inline-block col_green fs-1 lh-1 me-1"><i class="fa fa-location-arrow"></i></span>
	   <h6 class="mb-0 text-white d-inline-block fw-bold font_14">Email: <br>
<a class="col_green a_tag1 fs-6" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
	 </div>
   </div>
   <div class="col-md-6">
     <div class="top_1m text-center">
	   <p class="mb-0 text-light">50% Off Your Next Trip. Hurry Up For Your New Tour! <a class="col_green a_tag1" href="#">Book Your Tour</a></p>
	 </div>
   </div>
   <div class="col-md-3">
     <div class="top_1r text-end">
      <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="header">
<nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
  <div class="container-fluid">
    <a class="navbar-brand  p-0 fw-bold" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   <ul class="navbar-nav mb-0 ms-auto nav_1">
	    
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index.html">Home</a>
        </li>
		 
		<li class="nav-item">
          <a class="nav-link" href="about.html">About </a>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tours
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tour.html"> Tour</a></li>
            <li><a class="dropdown-item border-0" href="detail.html"> Tour Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Destination
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="destination.html"> Destination</a></li>
            <li><a class="dropdown-item border-0" href="destination_detail.html"> Destination Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="blog.html"> Blog</a></li>
            <li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
          </ul>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
		    <li><a class="dropdown-item" href="gallery.html"> Gallery</a></li>
			<li><a class="dropdown-item border-0" href="faq.html"> Faq</a></li>
          </ul>
        </li>
			
		<li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-0 ms-auto nav_2">
	    <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="fa fa-user"></i></a>
        </li>
		    
		<li class="nav-item">
          <a class="nav-link fs-4 drop_icon col_green" href="#"><i class="fa fa-phone"></i></a>
        </li>
		
		<li class="mb-0  d-inline-block fw-bold font_14 nav-item">To More Inquiry<br>
<a class="col_green a_tag1 fs-5" href="#">+(000) 345 67 89</a></li>
      </ul>
    </div>
  </div>
</nav>
</section>

<section id="center" class="center_faq">
   <div class="center_om bg_back">
     <div class="container-xl">
  <div class="row center_o1 text-center">
     <div class="col-md-12">
	    <h1 class="text-white font_50">Faq</h1>
		<h6 class="col_green mb-0 mt-3 fw-bold"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50"><i class="fa fa-arrow-right"></i></span> Faq</h6>
	 </div>
  </div>
 </div>
   </div>   
 </section>

<section id="faq" class="p_3">
 <div class="container-xl">
    <div class="row faq_1">
	 <div class="col-md-4">
	  <div class="faq_1l">
	    <div class="offer_1l position-relative">
	    <div class="offer_1li">
	      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="img/63.jpg" class="w-100" alt="img25"></a>
			</figure>
			</div>
	  </div>
	  <div class="offer_1li1 position-absolute p-4 px-3 bottom-0 w-100 text-center">
	      <h5 class="family_1 text-white">Popular Tour</h5>
		  <h2 class="col_yellow">35% Off</h2>
		  <h5 class="mb-0"><a class="a_tag1 text-white" href="#">6 Days In London</a></h5>
	  </div>
	  </div>
	  </div>
	 </div>
	 <div class="col-md-8">
	  <div class="faq_1r">
	    <div class="accordion" id="accordionExample1">
  <div class="accordion-item mb-0">
   <h2 class="accordion-header" id="headingsix">
     <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix">
       01. How Do I Book A Trip On Your Website?
     </button>
   </h2>
   <div id="collapsesix" class="accordion-collapse collapse show" aria-labelledby="headingsix" data-bs-parent="#accordionExample1" style="">
     <div class="accordion-body">
       <p class="mb-0">Arrive Cairo airport, welcome greeting by our representative who will assist you and provide tra nsfers to your Hotel in Cairo. (the clients will inform us about their arrival time minimum 7 days before)</p>
     </div>
   </div>
  </div>
   
  <div class="accordion-item mb-0 mt-3">
   <h2 class="accordion-header" id="headingseven">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
       02. What Payment Methods Do You Accept?
     </button>
   </h2>
   <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample1">
     <div class="accordion-body"> <p class="mb-0">Arrive Cairo airport, welcome greeting by our representative who will assist you and provide tra nsfers to your Hotel in Cairo. (the clients will inform us about their arrival time minimum 7 days before)</p>
     </div>
   </div>
 </div>
  
  <div class="accordion-item mb-0 mt-3">
   <h2 class="accordion-header" id="headingeight">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
       03. Can I Make Changes To My Reservation After Booking?
     </button>
   </h2>
   <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample1">
     <div class="accordion-body"> <p class="mb-0">Arrive Cairo airport, welcome greeting by our representative who will assist you and provide tra nsfers to your Hotel in Cairo. (the clients will inform us about their arrival time minimum 7 days before)</p>
     </div>
   </div>
 </div>
 
 <div class="accordion-item mb-0 mt-3">
   <h2 class="accordion-header" id="headingnine">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
   04. What Is Your Cancellation Policy?
     </button>
   </h2>
   <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample1">
     <div class="accordion-body"> <p class="mb-0">Arrive Cairo airport, welcome greeting by our representative who will assist you and provide tra nsfers to your Hotel in Cairo. (the clients will inform us about their arrival time minimum 7 days before)</p>
     </div>
   </div>
 </div>
 
 <div class="accordion-item mb-0 mt-3">
   <h2 class="accordion-header" id="headingten">
     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
        05. Do You Offer Group Booking Discounts?
     </button>
   </h2>
   <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample1">
     <div class="accordion-body"> <p>Arrive Cairo airport, welcome greeting by our representative who will assist you and provide tra nsfers to your Hotel in Cairo. (the clients will inform us about their arrival time minimum 7 days before)</p>
	   <ul class="mb-0 flex_box">
<li class="d-flex"><span><i class="fa fa-check col_green me-3 align-middle"></i></span> Admire Big Ben, Buckingham Palace And St Paul’s Cathedral</li>
<li class="d-flex mt-3"><span><i class="fa fa-check col_green me-3 align-middle"></i></span> Chance To Spot Prominent Landmarks Of The City
</li></ul>
     </div>
   </div>
 </div>

</div>
	  </div>
	 </div>
	</div>
 </div>
</section>

<div class="main_footer position-relative">
  <div class="main_footer1 position-absolute w-100">
    <section id="join" class="p_3">
 <div class="container-xl">
  <div class="row join_1 shadow_box pt-5 pb-5 mx-0 bg-white">
    <div class="col-md-3">
      <div class="join_1l">
	   <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
	<div class="col-md-6">
      <div class="join_1m text-center">
	     <h1>Join The Newsletter</h1>
		 <p>To receive our best monthly deals</p>
		 <div class="input-group">
				<input type="text" class="form-control rounded-0 font_14" placeholder="Enter Your Email...">
				<span class="input-group-btn">
					<button class="btn btn-primary bg_green rounded-0 p-3 px-4  border-0" type="button">
						<i class="fa fa-arrow-right"></i> </button>
				</span>
		</div>
	  </div>
	</div>
	<div class="col-md-3">
      <div class="join_1l">
	    <img src="img/44.jpg" class="w-100" alt="abc">
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
  <div class="main_footer2">
    <section id="footer" class="p_3 bg_black">
 <div class="container-xl">
  <div class="row footer_1">
    <div class="col-md-3">
	  <div class="footer_1l">
	    <h3 class="mb-3"><a class="text-white" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow">Booking</span> </a></h3>
		<h2 class="text-light">Want To Take Tour Packages?</h2>
		<h6 class="mb-0 mt-4"><a class="button" href="#">Book A Tour</a></h6>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3">Quick Link</h5>
		<div class="row footer_3ism">
		 <h6 class="col-md-12 col-6"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> About Us</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Destinations</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Tour Package</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
	 <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Article</a></h6>
	 <h6 class="col-md-12 col-6 mt-2 mb-0"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
	    </div>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l">
	    <h5 class="text-white mt-1 mb-3"><i class="fa fa-phone col_yellow me-1"></i> More Inquiry</h5>
		<h6><a class="text-white-50 a_tag1" href="tel:09256743514">+99 9 256743514</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-location-arrow col_yellow me-1"></i> Send Mail</h5>
		<h6><a class="text-white-50 a_tag1" href="mailto:sulaeyeeaung@gmail.com">sulaeyeeaung@gmail.com</a></h6>
		<h5 class="text-white mt-4 mb-3"><i class="fa fa-map-marker col_yellow me-1"></i> Address</h5>
		<p class="mb-0"><a class="text-white-50 a_tag1" href="#">House 128/140, Road 01, Pyay</a></p>
	  </div>
	</div>
	<div class="col-md-3">
	  <div class="footer_1l top_1r ">
	    <h5 class="text-white mt-1 mb-3"> We Are Here</h5>
		 <p class="text-white-50">Quisque purus augue, facilisis andi neque idont accumsan fringilla massa. Vivamusol id nibhom condimentum.</p>
		 <h5 class="text-white mt-4 mb-3"> Social Partner</h5>
         <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	  </div>
	</div>
  </div><hr class="line_1">
  <div class="row footer_2">
    <div class="col-md-8">
	  <div class="footer_2l">
	    <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_green fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div>
	</div>
<div class="col-md-4">
	  <div class="footer_2r text-end">
	    <ul class="mb-0">
		    <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Privacy Policy</a></li>
			<li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#">Terms & Condition</a></li>
		  </ul>
	  </div>
	</div>
  </div>
 </div>
</section>
  </div>
</div>

<script src="js/common.js"></script>

</body>


</html>